@charset "utf-8";
/*css document*/

/*
===========
* 通用样式
===========
*/
h1,h2,h3,div,p,a {
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.comWidth {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
}

/*
===========
* 页面样式
===========
*/

body {
  height: 100%;
  min-height: 100%;
  background-image: url(../img/body-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


/*
===========
* 头部样式
===========
*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

header h1 {
  float: left;
  font: 700 40px/70px "Microsoft Yahei";
  color: #3fb560;
}

header .nav {
  float: right;
}

header .nav a {
  position: relative;
  display: inline-block;
  width: 120px;
  height: auto;
  font: 14px/80px "Microsoft Yahei";
  color: #3fb560;
  text-decoration: none;
  text-align: center;
}

header .nav a .line {
  position: absolute;
  display: block;
  background-color: #3fb560;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .nav a:hover .line {
  opacity: 1;
}

header .nav a .top {
  top: 20px;
  left: 0;
  width: 0;
  height: 2px;
}

header .nav a .right {
  top: 20px;
  left: 118px;
  width: 2px;
  height: 0;
}

header .nav a .bottom {
  top: 58px;
  right: 0;
  width: 0;
  height: 2px;
}

header .nav a .left {
  bottom: 20px;
  left: 0;
  width: 2px;
  height: 0;
}

header .nav a:hover .top,
header .nav a:hover .bottom {
  width: 120px;
}

header .nav a:hover .right,
header .nav a:hover .left {
  height: 40px;
}

/*
===========
* 主要内容
===========
*/
/*飞入动画*/
@keyframes flyLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes flyRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes flyMain {
  0% {
    left: -2000px;
    opacity: 0;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

.main {
  animation: flyLeft 1s ease 1;
  animation-fill-mode: forwards;
}

.profile,
.profile .left,
.profile .right {
  animation: flyLeft 1s ease 1;
  animation-fill-mode: forwards;
}

.profile .left .wraps,
.profile .right h2 {
  animation: flyLeft 1s ease 1;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

.profile .left img,
.profile .right p {
  animation: flyLeft 1s ease 1;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

.profile .left .line,
.profile .right .btn {
  animation: flyLeft 1s ease 1;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}


.main {
  position: absolute;
  left: 50%;
  width: 1000px;
  height: 440px;
  margin-left: -500px;
}

/*个人介绍*/
.profile .left {
  position: relative;
  float: left;
  width: 340px;
  height: 440px;
}

.profile .left span.wraps {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 277px;
  height: 325px;
  border: 5px solid #3fb560;
  box-sizing: border-box;
}

.profile .left span.line {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: block;
  width: 5px;
  height: 180px;
  background-color: #3fb560;
}

.profile .left img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile .right {
  position: relative;
  float: right;
  width: 660px;
  height: 440px;
  padding: 44px 80px;
  box-sizing: border-box;
}

.profile .right:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #3fb560;
}

.profile .right h2 {
  margin-bottom: 35px;
  font: 16px/16px "Microsoft Yahei";
  color: #3fb560;
}

.profile .right p {
  color: #fff;
}

.profile .right p.name {
  font: 700 24px/24px "Microsoft Yahei";
}

.profile .right p.info {
  font: 14px/14px "Microsoft Yahei";
}

.profile .right p.i1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.profile .right p.i1 span {
  display: inline-block;
  margin: 0 10px;
  color: rgba(255, 255, 255, .3)
}

.profile .right p.i2 {
  line-height: 22px;
  text-align: justify;
}

.profile .right .btn a {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: 70px;
  width: 140px;
  height: 36px;
  border: 2px solid #3fb560;
  font: 14px/32px "Microsoft Yahei";
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.profile .right .btn a:before {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  display: block;
  content: " ";
  width: 0;
  height: 36px;
  background-color: #3fb560;
  font: 14px/32px "Microsoft Yahei";
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.profile .right .btn a:hover:before {
  width: 140px;
}

/*工作经历*/


/*
===========
* 页尾样式
===========
*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

footer .contact {
  float: left;
  padding-top: 99px;
}

footer .contact p {
  float: left;
  font: 14px/1.5 "Microsoft Yahei";
  color: #3fb560;;
}

footer .contact p + p {
  margin-left: 10px;
  background-image: url(../img/contact-icon.png);
  background-repeat: no-repeat;
  color: #fff;
  text-indent: 20px;
}

footer .contact p.tel {
  background-position: 0 3px;
}

footer .contact p.qq {
  background-position: 0 -18px;
}

footer .contact p.email {
  background-position: 0 -35px;
}

footer .wechat {
  float: right;
}

footer .wechat p {
  font: 14px/1.5 "Microsoft Yahei";
  color: #3fb560;
  text-indent: 8px;
}