@charset "utf-8";
/*css document*/

/*
===========
* 通用样式
===========
*/
h1,h2,h3,div,p,a {
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.comWidth {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
}


/*
===========
* 页面样式
===========
*/

body {
  height: 100%;
  min-height: 100%;
  background-image: url(../img/body-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*
===========
* 头部样式
===========
*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

header h1 {
  float: left;
  font: 700 40px/80px "Microsoft Yahei";
  color: #3fb560;
}

header .nav {
  float: right;
}

header .nav a {
  position: relative;
  display: inline-block;
  width: 120px;
  height: auto;
  font: 14px/80px "Microsoft Yahei";
  color: #3fb560;
  text-decoration: none;
  text-align: center;
}

header .nav a .line {
  position: absolute;
  display: block;
  background-color: #3fb560;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .nav a:hover .line {
  opacity: 1;
}

header .nav a .top {
  top: 20px;
  left: 0;
  width: 0;
  height: 2px;
}

header .nav a .right {
  top: 20px;
  left: 118px;
  width: 2px;
  height: 0;
}

header .nav a .bottom {
  top: 58px;
  right: 0;
  width: 0;
  height: 2px;
}

header .nav a .left {
  bottom: 20px;
  left: 0;
  width: 2px;
  height: 0;
}

header .nav a:hover .top,
header .nav a:hover .bottom {
  width: 120px;
}

header .nav a:hover .right,
header .nav a:hover .left {
  height: 40px;
}

/*
===========
* 主要内容
===========
*/
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


/*
===========
* 页尾样式
===========
*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

footer .contact {
  float: left;
  padding-top: 99px;
}

footer .contact p {
  float: left;
  font: 14px/1.5 "Microsoft Yahei";
  color: #3fb560;;
}

footer .contact p + p {
  margin-left: 10px;
  background-image: url(../img/contact-icon.png);
  background-repeat: no-repeat;
  color: #fff;
  text-indent: 20px;
}

footer .contact p.tel {
  background-position: 0 3px;
}

footer .contact p.qq {
  background-position: 0 -18px;
}

footer .contact p.email {
  background-position: 0 -35px;
}

footer .wechat {
  float: right;
}

footer .wechat p {
  font: 14px/1.5 "Microsoft Yahei";
  color: #3fb560;
  text-indent: 8px;
}